<div class="landing-wrapper about-wrapper">
  <h1 class="landing-title">About us</h1>

  <div class="container links-container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-col">
        <p class="about-paragraph">
          This project was made members of Newbie Coder Warehouse.
          This site is for newbies and/or anyone getting their skill up in code.
          Most of the content was created by newbies.
        </p>
      </div>
    </div>
   

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <a ng-href="#/typography" alt="typography" class="landing-link">
          repo <i class="fa fa-folder-open landing-fa"></i>
        </a>

        <a href="https://www.facebook.com/groups/1594816820775537/" target="_blank" alt="palettes" class="landing-link">
          group <i class="fa fa-users landing-fa"></i>
        </a>

        <a ng-href="#/" alt="home" class="landing-link">
          home <i class="fa fa-home landing-fa"></i>
        </a>  
      </div>
    </div>
  </div>
</div><!-- landing wrapper -->