<div class="landing-wrapper">
  <h1 class="landing-title">Design inspiration API</h1>

  <div class="container links-container">
    <a ng-href="#/typography" alt="typography" class="landing-link">
      typograhpy <i class="fa fa-font landing-fa"></i>
    </a>

    <a ng-href="#/color/palettes" alt="palettes" class="landing-link">
      color palettes <i class="fa fa-paint-brush landing-fa"></i>
    </a>

    <a ng-href="#/hi/def/images" alt="hi-def-images" class="landing-link">
      hidefimages <i class="fa fa-photo landing-fa"></i>
    </a>

    <a ng-href="#/about" alt="hi-def-images" class="landing-link">
      about <i class="fa fa-info landing-fa"></i>
    </a>  
  </div>
</div><!-- landing wrapper -->